.blockquote {
    margin: 0;
    border-left: 5px solid white;
}

.quotecontent {
    margin-left: 10px;
}

.spoiler {
    background-color: rgb(37, 39, 44);
    color: rgb(37, 39, 44);
    border-radius: 4px;
    cursor: pointer;
    word-break: break-all;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
}

.bigcodeblocks {
    background-color: gray;
    padding: 4px;
}